/* Write your CSS here */
.Team-card {
  display: flex;
  width: 30vw;
  background-color: rgba(200, 200, 200, 0.2);
  padding: 30px;
  margin: 50px;
  align-items: center;
  border-radius: 20px;
  color: #ffffff;
}
.team-card-img {
  height: 180px;
  width: 150px;
  padding-right: 10px;
  list-style-type: none;
}
.h1 {
  font-size: 20px;
}
